* {
  box-sizing: none;
}

body {
  text-align: center;
  font-family: Open sans, sans-serif;
  background-color: #e0a1ff !important;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.header {
  padding: 30px 60px;
}

.nav-bar {
  background-color: #ff7aa2;
  font-family: Open sans, sans-serif;
}

.nav-bar a {
  font-size: 20px;
  color: white;
}

.nav {
  justify-content: space-around;
}

.title {
  padding: 20px;
}

.content {
  text-align: justify;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}

h1 {
  font-size: 60px;
  font-weight: 300;
}

h2 {
  color: #2a0074;
  font-size: 40px;
}

h3 {
  font-size: 22px;
  font-style: italic;
  color: #2a0074;
}

h5 {
  font-style: italic;
  color: #2a0074;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

img {
  width: 100%;
}

.card {
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-title {
  padding: 10px 20px 10px 20px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

a.highlight:hover {
  color: #ff7aa2;
}

label {
  font-family: Open sans, sans-serif;
}

input {
  border-radius: 5px;
}

.btn {
  margin-top: 10px;
}

.footer {
  color: white;
  padding: 30px;
  text-align: center;
  font-size: 30px;
}
